<header class="container mx-auto flex items-center justify-between bg-blue-900 px-2 py-4">
  <a class="block w-16 h-10 bg-contain mx-2 bg-no-repeat bg-center logotype" href="/"></a>
  <div class="w-full mx-2" id="search">
    <input class="w-full h-10 bg-blue-800 rounded-lg py-2 px-10 align-middle text-gray-100 font-semi-bold" type="search" role="search" placeholder="Search"/>
  </div>
  <button class="w-16 h-8 bg-contain mx-2 bg-no-repeat bg-center my-1 menu-button"></button>
</header>