div(class="container md:mx-auto p-4 pt-0")
    div(class="w-full h-full bg-blue-800 rounded-lg swiper-container")
        .swiper-wrapper
            each e in slider
                a.block.swiper-slide.bg-cover.bg-center(style=`background-image: url(${e.img})` href= e.link)
        .swiper-pagination
        
